<!--@Author Harish Vavilala-->
<br/>
<br/>
<h2>orderline details</h2>
<br/>
<br/> 
ID:
<%=  orderline._id %>>
<br /> lineNumber:
<%=orderline.lineNumber%>
<br /> productName:
<%=orderline.productName%>
<br /> quantity:
<%=orderline.quantity%>
        <br/>
        <br/>
            <form method="get" action="/orderline">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>